.screen-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-container {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/images/wallpaper-star-wars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
}

.home-header {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .home-header {
    height: 30%;
  }
}

.home-title {
  width: 18rem;
  height: auto;
  margin-top: 1rem;
}

.home-content {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer-image {
  max-width: 100%;
  height: auto;
}

.error {
  color: red;
  margin-top: 10px;
}

body {
  margin: 0;
  overflow: hidden;
}
